*{
	font-family: arial,sans-serif;
}
a{
	color: gray;
	text-decoration: none;
}
.menu{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.menu__boton--vacio{
	padding: 0 8px;
	line-height: 24px;
	font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
	color: black;
	margin: 0px 0px;
}
.menu img{
	height: 24px;
	padding-left: 20px;
	padding-right: 10px;
}
.menu__boton--azul{
	margin: 5px 10px;
	border: none;
	background: #1a73e8; 
	color: white;
	padding: 10px 25px;
	border-radius: 5px;
	font-weight: 500;
	font-size: 15px;
	letter-spacing: 0.25px;
}
.container{
	width: 100%;
	align-items: center;
	padding: 100% 100% 0%;
}
.container__imagen--title{
	display: flex ;
	justify-content: center;
	align-items: center;
	margin: 15px 0px 25px
}
.container__button{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 3% 0% 12.4% 0%;
}
.container__search{
	display: flex;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 638px;
    width: auto;
    max-width: 584px;
}
.container__search--input__text{
	border:#dfe1e5;
	width: 90%;
	border-radius: 24px;
	justify-content: flex;
	flex: 80%;
}
.container__button--buscar{
	background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    padding: 0 16px;
    height: 36px;
	margin-right: 0.5%;
}
.container__button--suerte{
	background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    padding: 0 16px;
    height: 36px;
	margin-left: 0.5%;
}
.colombia{
	padding:0.2% 91% 0% 3%;
    font-size: 15px;
    color: #70757a;
	border-bottom:solid 1px #a1a3a7;
}
footer{
	border-bottom:1px solid darkgray ;
	background-color:#dadce0;
	color:dimgray;
	font-size: 14px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 1% 0% 1.4% 0%;
	align-items:center
}
@media (max-width: 800px) { 
	footer{
		justify-content: center;
	}	
	.box1{
		width: 100vw;
		text-align: center;
		margin: 0 auto;
	}
	.box2{
		margin: 0 auto;
	}
}

/*display: flex;/*
	justify-content: center;
	align-items: center;
	padding: 60px 60px 60px 60px;
	width: 200px;
	height: 200px;
		display: flex;

	justify-content: center;
	padding: 10px 15px;
	border: none;
	font-size: 15px;
	margin: 20px 5px 0px 60px;

	display: flex;
	justify-content: center;
	padding: 10px 15px;
	margin: 20px 10px 230px 180px;
	border: none;
	font-size: 15px;
	center{
	padding: 20px 200px 160px;

	width: 80%;
	height: 44px;
	border-radius: 25px;
	border:1px solid lightgray;